<h1 style="font-family: sans-serif; text-align: center;">Hi <%= @user.first_name %>,</h1>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0px 0px 15px; text-align: center;">Congratulations! You&rsquo;ve been accepted to participate in <strong><%= HackumassWeb::Application::HACKATHON_NAME %>.</strong></p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0px 0px 15px; text-align: center;">The event is from <strong>March 21st - 22nd</strong> at <a href="https://goo.gl/maps/Nc8rcXiFcbVurSpe8">West Chester University's Business and Public Management Building</a>. In order to participate, make sure you go to our website and <span style="text-decoration: underline;"><strong>RSVP</strong></span>! There, you will find more information about traveling, and how to get to the event.</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0px 0px 15px; text-align: center;">If you have any questions please visit our website at <a href="<%= HackumassWeb::Application::MAIN_WEBSITE %>" target="_blank" rel="noopener"><%= HackumassWeb::Application::MAIN_WEBSITE %></a>. If you can&rsquo;t find your answer on our website, then please feel free to shoot us an email at <a href="mailto:<%= HackumassWeb::Application::CONTACT_EMAIL %>"> <%= HackumassWeb::Application::CONTACT_EMAIL %> </a></p>
<p style="text-align: center;">&nbsp;</p>
<table class="btn btn-primary" style="border-collapse: separate; box-sizing: border-box; width: 100%; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;" align="left">
<table style="border-collapse: separate; width: auto; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #3498db; border-radius: 5px; text-align: center;"><a style="text-decoration: none; background-color: #926dde; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; color: #ffffff; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #926DDE;" href="https://<%= HackumassWeb::Application::DASHBOARD_URL %>" target="_blank" rel="noopener">RSVP Now</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0px 0px 15px; text-align: center;">&nbsp;</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0px 0px 15px; text-align: center;"><em>Thanks again for registering for our event, and we look forward to seeing you there! </em><br /><em>- The <%= HackumassWeb::Application::HACKATHON_NAME %> Team</em></p>